<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">


<hibernate-configuration>
 <session-factory>
<!--   Database Connection Settings  -->
  <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
  <property name="hibernate.connection.datasource">java:jboss/datasources/TRAZABILIDAD</property>
  
  <!-- Use the C3P0 connection pool. -->
        <property name="c3p0.min_size">3</property>
        <property name="c3p0.max_size">5</property>
        <property name="c3p0.timeout">1800</property>
    
        <!-- Disable second-level cache. -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <property name="cache.use_query_cache">false</property>
        <property name="cache.use_minimal_puts">false</property>
        <property name="max_fetch_depth">3</property>
    
        <!-- Print SQL to stdout. -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
    
        <!-- Drop and then re-create schema on SessionFactory build, for testing. -->
        <property name="hbm2ddl.auto">validate</property>
    
        <!-- Bind the getCurrentSession() method to the thread. -->
        <property name="current_session_context_class">thread</property>
   
<!--    Mapping With Model Class Containing Annotations -->
<mapping class="co.gov.ideam.sdstrp.model.Member"/> 
  <mapping class="co.gov.ideam.sdstrp.model.DeclaracionResiduo"/>
  <mapping class="co.gov.ideam.sdstrp.model.Departamento"/>
  <mapping class="co.gov.ideam.sdstrp.model.Empresa"/>
  <mapping class="co.gov.ideam.sdstrp.model.EstadoMateria"/>
  <mapping class="co.gov.ideam.sdstrp.model.GestionUbicacion"/>
  <mapping class="co.gov.ideam.sdstrp.model.Municipio"/>
  <mapping class="co.gov.ideam.sdstrp.model.Perfil"/>
  <mapping class="co.gov.ideam.sdstrp.model.Programacion"/>
  <mapping class="co.gov.ideam.sdstrp.model.Rutas"/>
  <mapping class="co.gov.ideam.sdstrp.model.RutaSedeTran"/>
  <mapping class="co.gov.ideam.sdstrp.model.Sede"/>
  <mapping class="co.gov.ideam.sdstrp.model.ServicioGestor"/>
  <mapping class="co.gov.ideam.sdstrp.model.TipoDocumento"/>
  <mapping class="co.gov.ideam.sdstrp.model.TipoEmbalaje"/>
  <mapping class="co.gov.ideam.sdstrp.model.TipoEmpaque"/>
  <mapping class="co.gov.ideam.sdstrp.model.TipoGestion"/>
  <mapping class="co.gov.ideam.sdstrp.model.TipoManejo"/>
  <mapping class="co.gov.ideam.sdstrp.model.TipoPeligrosidad "/>
  <mapping class="co.gov.ideam.sdstrp.model.TipoResiduos"/>
  <mapping class="co.gov.ideam.sdstrp.model.TipoVehiculo"/>
  <mapping class="co.gov.ideam.sdstrp.model.Ubicacion"/>
  <mapping class="co.gov.ideam.sdstrp.model.Usuario_Perfil"/>
  <mapping class="co.gov.ideam.sdstrp.model.Usuario"/>
  <mapping class="co.gov.ideam.sdstrp.model.Declaracion"/>
  <mapping class="co.gov.ideam.sdstrp.model.Vehiculo"/>
  <mapping class="co.gov.ideam.sdstrp.model.Ciiu4"/>
  <mapping class="co.gov.ideam.sdstrp.model.Autoridad"/>
  <mapping class="co.gov.ideam.sdstrp.model.Autorizaciones"/>
  <mapping class="co.gov.ideam.sdstrp.model.Residuos"/>
 </session-factory>
</hibernate-configuration>
