@charset "ISO-8859-1";

#verde 
{
	background-color: #58a749;
	color: white;
}

.ocultar {
    display: none;
}
 
.mostrar {
    display: block;
}


#perfil{
	margin-right: 10px;
}

.alert{
    display: none;
}